*{
    margin: 0;
    padding: 0;
} 

body{
    background-color: #DBDFFD;
    background-size:cover;
}

header{
    background-color: #24309bcb;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .menu .links{
    display: flex;
}

header nav .menu .links a{
    padding: 16px 12px;
    color: white;
    text-decoration: none;
}

main p{
    text-align: left;
    letter-spacing: 1px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size:1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

#cate {
    display: grid;
    grid-template-areas:"pants jack jack"
                        "pants hats hats";
                        
}

@media (max-width: 700px){
    #cate{
        grid-template-areas:"pants pants pants"
                            "hats hats hats"
                            "jack jack jack";
    }
}

@media (max-width: 777px){
    .sale, .contact{
        display: none;
    }
}

h2{
    font-weight: bold;
}

.imagen_nav{
    width: 160px;
    padding: 10px;
}

.imagen_cat{
    margin: 30px 0px 20px ;
    padding: 0px;
    border: 3px solid #646FD4;
}


.form_titulos{
    color: black;
    padding-top: 20px;
}

.titulos{
    color: black;
    margin-top: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulitos{
    font-size: 1em;
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid_layout{ 
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    width: auto;
    margin: 0 auto;   
}

.flex_container_cate{
    border: 1px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }
    

.flex_container{
    border: 1px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.sucursales{
    border: 1px;
    font-weight: bold;
    width: 300px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin: 5px;
}

.sucu{
    display: flex;
    justify-content: center;
}

.mapa{
    width: 90%;
    height: 350px;
}

@media (max-width: 355px){
    .sucursales{
        width: auto;
        height: 150px;
    }
}

.iframe_index{
    margin: 30px;
    width: 560px; 
    height: 315px;
    border: 3px solid #646FD4;
}

.sale{
    margin-top: 20px;
    border: 1px solid #646FD4;
}

.texto_ropa{
    font-size: 0.9em;
    color: black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}

.tamaño_imagen{
width: 300px;
height: 300px;
}

.contact{
    margin-top: 40px;
    border: 1px solid #646FD4;
}
.form_contacto{
    margin: 0px 0px 25px;
    width: 320px;
    height: 320px;
}

footer{
    background-color: #9BA3EB;
}

.texto_footer{
    color: azure;
    text-align: center;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.grid_jackets{
    grid-area: jack;
}

.grid_pants{
    grid-area: pants;
    display: flex;
    flex-direction: column;

}

.grid_hats{
    grid-area: hats;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 580px){
    .menu, .links{
        flex-direction: column;
    }
}