* {
  margin: 0;
  padding: 0;
  font-family: 'Aboreto', cursive; }

header nav {
  font-weight: lighter; }

#nav-link, header nav {
  color: white; }

main h2 {
  text-align: center;
  font-weight: bold; }

main div article:hover {
  filter: blur(4px);
  transition: all 1s; }

.bold, main div p {
  font-weight: bold; }

.card {
  padding: 0; }

.borroso:hover {
  filter: blur(4px);
  transition: all 1s; }

.map {
  margin-top: 2rem;
  width: 100%;
  height: 430px; }

.btn {
  background-color: #147a7a;
  border-color: white; }

.btn:hover {
  background-color: rgba(0, 0, 0, 0.842);
  border-color: #147a7a; }

.card-title {
  text-align: center;
  font-weight: bold; }

.form {
  justify-content: center; }

footer div {
  display: flex;
  justify-content: center;
  height: 10vh;
  text-align: center;
  align-items: center;
  color: white; }

@media (max-width: 900px) {
  .img {
    width: 100%;
    height: auto;
    margin-top: 2rem; } }

@media (max-width: 900px) {
  .contact {
    flex-direction: column; } }

body {
  background-color: rgba(240, 128, 128, 0.336);
  display: grid;
  min-height: 100vh; }
