@import './mixins';

* {
    @include reset;
}

@import './variables';
@import './header';
@import './main';
@import './footer'; 
@import './medias';

body{
    background-color: rgba(240, 128, 128, 0.336);
    display:grid;
    min-height:100vh;
}